<html>
    <head>
        <title>{{ book.getTitle }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ book.getTitle }}</h1>

            <!-- update book title -->
            <form action="/book/{{ book.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">

                <label for="title">Rename:</label>
                <input id="title" name="title" type="text">

                <button type="submit">Update</button>
            </form>

            <h3><small>written by:</small></h3>
            {% if authors is not empty %}
                {% for author in authors %}
                    <h5><ul>
                        <li>{{ author.getName }}</li>
                    </ul></h5>
                {% endfor %}
            {% endif %}

            <form action="/add_authors" method="post">
                <input type="hidden" name="book_id" value="{{ book.getId }}">

                <label for="author_id">Add an author:</label>
                <select id='author_id' name='author_id' type='text'>
                    {% for author in all_authors %}
                      <option value="{{ author.getId }}"> {{ author.getName }} </option>
                    {% endfor %}
                </select>
                <button type="submit">Select</button>
            </form>

            <hr noshade size=4 width=100% align=left>

            {% if copies is not empty %}
                <h3>Here are the library's copies:</h3>
                <ul>
                    {% for copy in copies %}
                        <li>ID: {{ copy.getId }}<br>
                        {{ copy.checkDate }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>There are no copies available.</h3>
            {% endif %}

            <form action="/add_copy" method="post">
                <input type="hidden" name="book_id" value="{{ book.getId }}">
                <button type="submit">Add a copy</button>
            </form>

            <hr noshade size=4 width=100% align=left>

            <h3>Checkout</h3>
            <form action="/checkout_copy/{{ book.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <input type="hidden" name="course_id" value="{{ book.getId }}">
                <label for="copy_id">Select a copy</label>
                <select name="copy_id" type="text">
                    {% for copy in copies %}
                        <option value="{{ copy.getId }}">{{ copy.getId }}</option>

                    {% endfor %}
                </select>
                <label for="due_date">Enter new Due Date:</label>
                <input name="due_date" type="date">

                <button type="submit">Checkout This Copy</button>
            </form>

            <hr noshade size=4 width=100% align=left>

            <form action="/books/{{ book.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn-danger">Delete Book</button>
            </form>

            <form action="/librarian">
                <button type="submit" class="btn-default">Back to Catalogue</button>
            </form>
        </div>

    </body>
</html>
